In [18]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Read the CSV file into a DataFrame
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Display the first 5 rows
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

# Print the column names and their data types
print(df.info())

| Booking_ID   | no_of_adults   | no_of_children   | no_of_weekend_nights   | no_of_week_nights   | type_of_meal_plan   | room_type_reserved   | lead_time   | arrival_date   | market_segment_type   | avg_price_per_room   | booking_status   |
|:-------------|:---------------|:-----------------|:-----------------------|:--------------------|:--------------------|:---------------------|:------------|:---------------|:----------------------|:---------------------|:-----------------|
| INN00001     | 2              | 0                | 1                      | 2                   | Meal Plan 1         | Room_Type 1          | 224         | 02-10-2017     | Offline               | 65                   | Not_Canceled     |
| INN00002     | 2              | 0                | 2                      | 3                   | Not Selected        | Room_Type 1          | 5           | 06-11-2018     | Online                | 106.68               | Not_Canceled     |
| INN00003     | 1              | 0                | 2                      | 1                   | Meal Plan 1         | Room_Type 1          | 1           | 28-02-2018     | Online                | 60                   | Canceled         |
| INN00004     | 2              | 0                | 0                      | 2                   | Meal Plan 1         | Room_Type 1          | 211         | 20-05-2018     | Online                | 100                  | Canceled         |
| INN00005     | 2              | 0                | 1                      | 1                   | Not Selected        | Room_Type 1          | 48          | 11-04-2018     | Online                | 94.5                 | Canceled         |
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Booking_ID            700 non-null    object
 1   no_of_adults          700 non-null    int64
 2   no_of_children        700 non-null    int64
 3   no_of_weekend_nights  700 non-null    int64
 4   no_of_week_nights     700 non-null    int64
 5   type_of_meal_plan     700 non-null    object
 6   room_type_reserved    700 non-null    object
 7   lead_time             700 non-null    int64
 8   arrival_date          700 non-null    object
 9   market_segment_type   700 non-null    object
 10  avg_price_per_room    700 non-null    float64
 11  booking_status        700 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 65.8+ KB
None

In [19]:
# Count the total number of rows in the dataframe
total_reservations = df.shape[0]
print(f'The total number of reservations in the dataset is: {total_reservations}')

# Count the number of unique values in the `Booking_ID` column
unique_booking_ids = df['Booking_ID'].nunique()
print(f'The total number of unique booking IDs in the dataset is: {unique_booking_ids}')

# Create a SQL query string that counts the number of rows in the table
query = '''SELECT COUNT(*) AS total_reservations FROM hotel_reservations'''
print(f'SQL query to find total number of reservations: {query}')

The total number of reservations in the dataset is: 700
The total number of unique booking IDs in the dataset is: 700
SQL query to find total number of reservations: SELECT COUNT(*) AS total_reservations FROM hotel_reservations

In [20]:
# Calculate the frequency counts of unique values in the `type_of_meal_plan` column
meal_plan_counts = df['type_of_meal_plan'].value_counts()

# Sort the results in descending order by frequency count
meal_plan_counts = meal_plan_counts.sort_values(ascending=False)

# Select the first row (the most frequent value) and print the result
most_popular_meal_plan = meal_plan_counts.index[0]
print(f'The most popular meal plan among guests is: {most_popular_meal_plan}')

# Create a SQL query string that finds the most frequent value in the `type_of_meal_plan` column
query = '''SELECT type_of_meal_plan, COUNT(*) AS frequency
           FROM hotel_reservations
           GROUP BY type_of_meal_plan
           ORDER BY frequency DESC
           LIMIT 1'''
print(f'SQL query to find most popular meal plan: {query}')

The most popular meal plan among guests is: Meal Plan 1
SQL query to find most popular meal plan: SELECT type_of_meal_plan, COUNT(*) AS frequency
           FROM hotel_reservations
           GROUP BY type_of_meal_plan
           ORDER BY frequency DESC
           LIMIT 1

In [21]:
# Filter the dataframe to only include rows where `no_of_children` is greater than 0
df_with_children = df[df['no_of_children'] > 0]

# Calculate the mean of the `avg_price_per_room` column for the filtered dataframe
avg_price_with_children = df_with_children['avg_price_per_room'].mean()
print(f'The average price per room for reservations involving children is: {avg_price_with_children:.2f}')

# Create a SQL query string that calculates the average `avg_price_per_room` for rows where `no_of_children` is greater than 0
query = '''SELECT AVG(avg_price_per_room) AS avg_price_with_children
           FROM hotel_reservations
           WHERE no_of_children > 0'''
print(f'SQL query to find average price per room for reservations with children: {query}')

The average price per room for reservations involving children is: 144.57
SQL query to find average price per room for reservations with children: SELECT AVG(avg_price_per_room) AS avg_price_with_children
           FROM hotel_reservations
           WHERE no_of_children > 0

In [22]:
# Convert the `arrival_date` column to datetime
df['arrival_date'] = pd.to_datetime(df['arrival_date'], format='%d-%m-%Y')

# Extract the year from the `arrival_date` column and store it as a new column `arrival_year`
df['arrival_year'] = df['arrival_date'].dt.year

# Calculate the frequency counts of unique values in the `arrival_year` column
arrival_year_counts = df['arrival_year'].value_counts()

# Sort the results in descending order by frequency count
arrival_year_counts = arrival_year_counts.sort_values(ascending=False)

# Select the first row (the most frequent year) and store the year and frequency count in variables
most_frequent_year = arrival_year_counts.index[0]
most_frequent_year_count = arrival_year_counts.iloc[0]

# Filter the dataframe on the year with the most reservations
df_most_frequent_year = df[df['arrival_year'] == most_frequent_year]

# Count the number of rows in the filtered dataframe
reservations_in_most_frequent_year = df_most_frequent_year.shape[0]
print(f'The number of reservations made in the year {most_frequent_year} is: {reservations_in_most_frequent_year}')

# Create a SQL query string that finds the year with the most reservations and the number of reservations in that year
query = '''SELECT
            EXTRACT(YEAR FROM arrival_date) AS arrival_year,
            COUNT(*) AS num_reservations
           FROM hotel_reservations
           GROUP BY arrival_year
           ORDER BY num_reservations DESC
           LIMIT 1'''
print(f'SQL query to find the year with the most reservations: {query}')

The number of reservations made in the year 2018 is: 577
SQL query to find the year with the most reservations: SELECT
            EXTRACT(YEAR FROM arrival_date) AS arrival_year,
            COUNT(*) AS num_reservations
           FROM hotel_reservations
           GROUP BY arrival_year
           ORDER BY num_reservations DESC
           LIMIT 1

In [23]:
# Calculate the frequency counts of unique values in the `room_type_reserved` column
room_type_counts = df['room_type_reserved'].value_counts()

# Sort the results in descending order by frequency count
room_type_counts = room_type_counts.sort_values(ascending=False)

# Select the first row (the most frequent value) and print the result
most_common_room_type = room_type_counts.index[0]
print(f'The most commonly booked room type is: {most_common_room_type}')

# Create a SQL query string that finds the most frequent value in the `room_type_reserved` column
query = '''SELECT room_type_reserved, COUNT(*) AS frequency
           FROM hotel_reservations
           GROUP BY room_type_reserved
           ORDER BY frequency DESC
           LIMIT 1'''
print(f'SQL query to find most common room type: {query}')

The most commonly booked room type is: Room_Type 1
SQL query to find most common room type: SELECT room_type_reserved, COUNT(*) AS frequency
           FROM hotel_reservations
           GROUP BY room_type_reserved
           ORDER BY frequency DESC
           LIMIT 1

In [24]:
# Filter the dataframe to only include rows where `no_of_weekend_nights` is greater than 0
df_weekend_nights = df[df['no_of_weekend_nights'] > 0]

# Count the number of rows in the filtered dataframe
weekend_night_reservations = df_weekend_nights.shape[0]
print(f'The number of reservations that include weekend nights is: {weekend_night_reservations}')

# Create a SQL query string that counts the number of rows where `no_of_weekend_nights` is greater than 0
query = '''SELECT COUNT(*) AS weekend_night_reservations
           FROM hotel_reservations
           WHERE no_of_weekend_nights > 0'''
print(f'SQL query to find number of reservations that include weekend nights: {query}')

The number of reservations that include weekend nights is: 383
SQL query to find number of reservations that include weekend nights: SELECT COUNT(*) AS weekend_night_reservations
           FROM hotel_reservations
           WHERE no_of_weekend_nights > 0

The next question is: *What is the highest and lowest lead time for reservations?*

We can answer this by using `lead_time` column and finding the minimum and maximum values. Given that the problem statement asks for SQL queries, we will provide the equivalent SQL query along with the Python code to solve the problem.

In [25]:
# Calculate the minimum and maximum values of the `lead_time` column
min_lead_time = df['lead_time'].min()
max_lead_time = df['lead_time'].max()

# Print the results
print(f'The minimum lead time for reservations is: {min_lead_time} days')
print(f'The maximum lead time for reservations is: {max_lead_time} days')

# Create a SQL query string that finds the minimum and maximum values in the `lead_time` column
query = '''SELECT MIN(lead_time) AS min_lead_time, MAX(lead_time) AS max_lead_time
           FROM hotel_reservations'''
print(f'SQL query to find minimum and maximum lead times: {query}')

The minimum lead time for reservations is: 0 days
The maximum lead time for reservations is: 443 days
SQL query to find minimum and maximum lead times: SELECT MIN(lead_time) AS min_lead_time, MAX(lead_time) AS max_lead_time
           FROM hotel_reservations

In [26]:
# Calculate the frequency counts of unique values in the `market_segment_type` column
market_segment_counts = df['market_segment_type'].value_counts()

# Sort the results in descending order by frequency count
market_segment_counts = market_segment_counts.sort_values(ascending=False)

# Select the first row (the most frequent value) and print the result
most_common_market_segment = market_segment_counts.index[0]
print(f'The most common market segment is: {most_common_market_segment}')

# Create a SQL query string that finds the most frequent value in the `market_segment_type` column
query = '''SELECT market_segment_type, COUNT(*) AS frequency
           FROM hotel_reservations
           GROUP BY market_segment_type
           ORDER BY frequency DESC
           LIMIT 1'''
print(f'SQL query to find most common market segment: {query}')

The most common market segment is: Online
SQL query to find most common market segment: SELECT market_segment_type, COUNT(*) AS frequency
           FROM hotel_reservations
           GROUP BY market_segment_type
           ORDER BY frequency DESC
           LIMIT 1

In [27]:
# Filter the dataframe to only include rows where `booking_status` is equal to "Canceled"
df_canceled = df[df['booking_status'] == 'Canceled']

# Count the number of rows in the filtered dataframe
canceled_reservations = df_canceled.shape[0]
print(f'The number of canceled reservations is: {canceled_reservations}')

# Create a SQL query string that counts the number of rows where `booking_status` is equal to "Canceled"
query = '''SELECT COUNT(*) AS canceled_reservations
           FROM hotel_reservations
           WHERE booking_status = 'Canceled' '''
print(f'SQL query to find number of canceled reservations: {query}')

The number of canceled reservations is: 207
SQL query to find number of canceled reservations: SELECT COUNT(*) AS canceled_reservations
           FROM hotel_reservations
           WHERE booking_status = 'Canceled'

In [28]:
# Calculate the sum of the `no_of_adults` and `no_of_children` columns
total_adults = df['no_of_adults'].sum()
total_children = df['no_of_children'].sum()

# Print the results
print(f'The total number of adults is: {total_adults}')
print(f'The total number of children is: {total_children}')

# Create a SQL query string that calculates the sum of `no_of_adults` and `no_of_children` columns
query = '''SELECT SUM(no_of_adults) AS total_adults, SUM(no_of_children) AS total_children
           FROM hotel_reservations'''
print(f'SQL query to find total number of adults and children: {query}')

The total number of adults is: 1316
The total number of children is: 69
SQL query to find total number of adults and children: SELECT SUM(no_of_adults) AS total_adults, SUM(no_of_children) AS total_children
           FROM hotel_reservations

In [29]:
# Filter the dataframe to only include rows where `no_of_children` is greater than 0
df_with_children = df[df['no_of_children'] > 0]

# Calculate the mean of the `no_of_weekend_nights` column for the filtered dataframe
avg_weekend_nights_with_children = df_with_children['no_of_weekend_nights'].mean()
print(f'The average number of weekend nights for reservations with children is: {avg_weekend_nights_with_children:.2f}')

# Create a SQL query string that calculates the average `no_of_weekend_nights` for rows where `no_of_children` is greater than 0
query = '''SELECT AVG(no_of_weekend_nights) AS avg_weekend_nights_with_children
           FROM hotel_reservations
           WHERE no_of_children > 0'''
print(f'SQL query to find average number of weekend nights for reservations with children: {query}')

The average number of weekend nights for reservations with children is: 1.00
SQL query to find average number of weekend nights for reservations with children: SELECT AVG(no_of_weekend_nights) AS avg_weekend_nights_with_children
           FROM hotel_reservations
           WHERE no_of_children > 0

In [30]:
# Extract the month from the `arrival_date` column and store it as a new column `arrival_month`
df['arrival_month'] = df['arrival_date'].dt.month

# Calculate the frequency counts of unique values in the `arrival_month` column
arrival_month_counts = df['arrival_month'].value_counts()

# Sort the results by month order
arrival_month_counts = arrival_month_counts.sort_index()

# Print the results
print('Number of reservations by month:')
print(arrival_month_counts.to_markdown(numalign="left", stralign="left"))

# Create a SQL query string that extracts the month from `arrival_date` column, groups by the month and counts the number of rows
query = '''SELECT
            EXTRACT(MONTH FROM arrival_date) AS arrival_month,
            COUNT(*) AS num_reservations
           FROM hotel_reservations
           GROUP BY arrival_month
           ORDER BY arrival_month'''
print(f'SQL query to find number of reservations by month: {query}')

Number of reservations by month:
| arrival_month   | count   |
|:----------------|:--------|
| 1               | 11      |
| 2               | 28      |
| 3               | 52      |
| 4               | 67      |
| 5               | 55      |
| 6               | 84      |
| 7               | 44      |
| 8               | 70      |
| 9               | 80      |
| 10              | 103     |
| 11              | 54      |
| 12              | 52      |
SQL query to find number of reservations by month: SELECT
            EXTRACT(MONTH FROM arrival_date) AS arrival_month,
            COUNT(*) AS num_reservations
           FROM hotel_reservations
           GROUP BY arrival_month
           ORDER BY arrival_month

In [31]:
# Calculate the total number of nights spent as `total_nights` by adding `no_of_weekend_nights` and `no_of_week_nights`
df['total_nights'] = df['no_of_weekend_nights'] + df['no_of_week_nights']

# Group the dataframe by `room_type_reserved` and calculate the mean of `total_nights`
avg_nights_spent_by_room_type = df.groupby('room_type_reserved')['total_nights'].mean()

# Rename the result column to `avg_nights_spent`
avg_nights_spent_by_room_type = avg_nights_spent_by_room_type.rename('avg_nights_spent')

# Print the results
print('Average nights spent by room type:')
print(avg_nights_spent_by_room_type.to_markdown(numalign="left", stralign="left"))

# Create a SQL query string that calculates the total number of nights spent and then calculates the average of total nights spent for each `room_type_reserved`
query = '''SELECT
            room_type_reserved,
            AVG(no_of_weekend_nights + no_of_week_nights) AS avg_nights_spent
           FROM hotel_reservations
           GROUP BY room_type_reserved'''
print(f'SQL query to find average nights spent by room type: {query}')

Average nights spent by room type:
| room_type_reserved   | avg_nights_spent   |
|:---------------------|:-------------------|
| Room_Type 1          | 2.87828            |
| Room_Type 2          | 3                  |
| Room_Type 4          | 3.8                |
| Room_Type 5          | 2.5                |
| Room_Type 6          | 3.61111            |
| Room_Type 7          | 2.66667            |
SQL query to find average nights spent by room type: SELECT
            room_type_reserved,
            AVG(no_of_weekend_nights + no_of_week_nights) AS avg_nights_spent
           FROM hotel_reservations
           GROUP BY room_type_reserved

In [32]:
# Filter the dataframe to only include rows where `no_of_children` is greater than 0
df_with_children = df[df['no_of_children'] > 0]

# Calculate the frequency counts of unique values in the `room_type_reserved` column for the filtered dataframe
room_type_counts_with_children = df_with_children['room_type_reserved'].value_counts()

# Sort the results in descending order by frequency count
room_type_counts_with_children = room_type_counts_with_children.sort_values(ascending=False)

# Select the first row (the most frequent value) and store the room type in a variable
most_common_room_type_with_children = room_type_counts_with_children.index[0]

# Filter the dataframe to only include rows where `room_type_reserved` is equal to the most frequent room type
df_most_common_room_type_with_children = df_with_children[df_with_children['room_type_reserved'] == most_common_room_type_with_children]

# Calculate the mean of the `avg_price_per_room` column for the filtered dataframe
avg_price_most_common_room_type_with_children = df_most_common_room_type_with_children['avg_price_per_room'].mean()

# Print the results
print(f'The most common room type for reservations with children is: {most_common_room_type_with_children}')
print(f'The average price for this room type is: {avg_price_most_common_room_type_with_children:.2f}')

# Create a SQL query string that finds the most common room type for reservations with children and the average price for that room type
query = '''WITH most_common_room AS (
               SELECT room_type_reserved, COUNT(*) AS frequency
               FROM hotel_reservations
               WHERE no_of_children > 0
               GROUP BY room_type_reserved
               ORDER BY frequency DESC
               LIMIT 1
           )
           SELECT
               mcr.room_type_reserved,
               AVG(hr.avg_price_per_room) AS avg_price
           FROM hotel_reservations hr
           JOIN most_common_room mcr ON hr.room_type_reserved = mcr.room_type_reserved
           WHERE hr.no_of_children > 0'''
print(f'SQL query to find most common room type for reservations with children and the average price: {query}')

The most common room type for reservations with children is: Room_Type 1
The average price for this room type is: 123.12
SQL query to find most common room type for reservations with children and the average price: WITH most_common_room AS (
               SELECT room_type_reserved, COUNT(*) AS frequency
               FROM hotel_reservations
               WHERE no_of_children > 0
               GROUP BY room_type_reserved
               ORDER BY frequency DESC
               LIMIT 1
           )
           SELECT
               mcr.room_type_reserved,
               AVG(hr.avg_price_per_room) AS avg_price
           FROM hotel_reservations hr
           JOIN most_common_room mcr ON hr.room_type_reserved = mcr.room_type_reserved
           WHERE hr.no_of_children > 0

In [33]:
# Group the dataframe by `market_segment_type` and calculate the mean of `avg_price_per_room`
avg_price_by_market_segment = df.groupby('market_segment_type')['avg_price_per_room'].mean()

# Rename the result column to `avg_price`
avg_price_by_market_segment = avg_price_by_market_segment.rename('avg_price')

# Sort the results in descending order by `avg_price`
avg_price_by_market_segment = avg_price_by_market_segment.sort_values(ascending=False)

# Select the first row (the market segment with the highest average price) and print the result
highest_avg_price_market_segment = avg_price_by_market_segment.index[0]
highest_avg_price = avg_price_by_market_segment.iloc[0]
print(f'The market segment with the highest average price is: {highest_avg_price_market_segment} with an average price of {highest_avg_price:.2f}')

# Create a SQL query string that finds the market segment type with the highest average price per room
query = '''SELECT market_segment_type, AVG(avg_price_per_room) AS avg_price
           FROM hotel_reservations
           GROUP BY market_segment_type
           ORDER BY avg_price DESC
           LIMIT 1'''
print(f'SQL query to find the market segment with the highest average price: {query}')

The market segment with the highest average price is: Online with an average price of 112.46
SQL query to find the market segment with the highest average price: SELECT market_segment_type, AVG(avg_price_per_room) AS avg_price
           FROM hotel_reservations
           GROUP BY market_segment_type
           ORDER BY avg_price DESC
           LIMIT 1